{% extends 'base.html' %}

{% block title %} О магазне {% endblock %}

{% block zag %} <center> Немного о нас) </center>  {% endblock %}

{% block content %} 
    <h1>
    Магазин молочной продукции 'Селяночка' - это семейный бизнес, который уже более 20 лет радует своих клиентов свежими и качественными молочными продуктами. Мы гордимся тем, что предлагаем натуральные и вкусные продукты, произведенные с заботой о здоровье наших клиентов.Наша философия заключается в том, чтобы предлагать только самое лучшее. Мы тщательно выбираем поставщиков, работающих с нами на протяжении многих лет, и следим за качеством всех наших товаров. Вся наша продукция проходит строгий контроль качества, чтобы гарантировать свежесть и безопасность для потребителей.
Мы специализируемся на молочной продукции, такой как свежее молоко, йогурты, сыры, творог, сливки и другие деликатесы. Все наши товары изготавливаются из натуральных ингредиентов без добавления искусственных консервантов или красителей. Мы также предлагаем широкий выбор продуктов для людей с различными предпочтениями, включая безлактозные и диетические варианты.
Наша команда состоит из опытных сотрудников, которые всегда готовы помочь вам выбрать идеальные продукты для ваших потребностей. Мы стремимся предоставить высокий уровень обслуживания и создать дружественную атмосферу в нашем магазине.
Мы также гордимся тем, что поддерживаем местных фермеров и производителей. Мы покупаем молоко и другие ингредиенты у местных поставщиков, чтобы поддержать экономику нашего региона и обеспечить свежесть продуктов.
Приходите в наш магазин 'Селяночка' и насладитесь ароматными и полезными молочными продуктами. Мы уверены, что вы останетесь довольны качеством и вкусом нашей продукции. Благодарим вас за выбор нашего магазина и надеемся видеть вас снова!"
    </h1>
{% endblock %}