{% extends 'base.html' %}

{% block title %} Селяночка {% endblock %}

{% block zag %} 
<center> 
<h1>Добро пожаловать в на наш магазин молочной продукции Селяночка!</h1>
</center> 
{% endblock %}

{% block content %} 

<p> <h1> Магазин молочной продукции "Селяночка" - ваш надежный партнер в выборе качественных и свежих молочных продуктов. Наша цель - радовать клиентов натуральными и вкусными продуктами, произведенными с любовью и заботой.</h1>
    <br>
    <h1><center> Наш ассортимент: </center></h1>
    <br>
    <h3>
    1. Свежее молоко: Мы предлагаем свежее молоко от лучших местных фермеров, обеспечивая высокое качество и свежесть каждого литра.
    <br>
    2. Йогурты: Разнообразие йогуртов с различными добавками и вкусами, приготовленных по традиционным рецептам для вашего удовольствия.
    <br>
    3. Сыры: Наш ассортимент сыров порадует ценителей натуральных продуктов. Вы найдете здесь как классические варианты, так и уникальные сорта.
    <br>
    4. Творог и сливки: Вкусный творог и сливки, приготовленные из натурального молока, станут отличным дополнением к вашему завтраку или десерту.
    <br>
    5. Другие деликатесы: Кроме основных продуктов, мы предлагаем разнообразные деликатесы, такие как масло, кефир, сметана и другие молочные продукты.
    <br>
    <br>
    <h1><center> Наши преимущества: </center></h1>
    <h3>
    <br>
    - Качество: Мы гарантируем высокое качество всех наших продуктов благодаря строгому контролю на всех этапах производства.
    <br>
    - Свежесть: Мы следим за свежестью нашей продукции, чтобы каждый клиент получал только самые свежие и вкусные продукты.
    <br>
    - Дружелюбный сервис: Наша команда опытных сотрудников всегда готова помочь вам с выбором и ответить на все ваши вопросы.
    <br>
    - Поддержка местных производителей: Мы поддерживаем местных фермеров и производителей, чтобы способствовать развитию местной экономики и обеспечить свежесть продуктов.
    <br>
    Приходите в магазин "Селяночка" и окунитесь в мир натуральных и полезных молочных продуктов. Мы ценим каждого клиента и гарантируем вам приятный опыт покупок и высокое качество нашей продукции. Спасибо, что выбираете нас!
    </h3>
    </p>

{% endblock %}